body {
    font-family: 'roboto', sans-serif;
    background-color: darkgray;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: darkgrey;
    background-position: center;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 150px;
    cursor: pointer;
}

.nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 30px;
}
nav ul li a{
    text-decoration:none;
    color: white;
    font-size: 18px;
}
.data{
    margin-top:10ch;
    word-spacing:1ch;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.form-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

 .nav ul li a {
    color: black; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    animation: colorBlink 1s infinite alternate; 
    color: red; 
}

@keyframes colorBlink {
    0% { color: red; }
    20% { color: blue; }
    40% { color: green; }
    60% { color: yellow; }
    80% { color: gray; }
    100% { color: black; }
}







