*{
    margin: 0px;
    padding: 0px;
    font-family: 'roboto',sans-serif;

}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 2s ease;
}

.loading-icon {
    width: 1000px;
}

.loaded {
    opacity: 0;
    pointer-events: none;
}


.container{
    width: 100%;
    height: 100vh;
    background-color: darkgrey;
    background-position: center;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 150px;
    cursor: pointer;
}

.nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 30px;
}
nav ul li a{
    text-decoration:none;
    color: white;
    font-size: 18px;
}
.data{
    margin-top:10ch;
    word-spacing:1ch;
}
.nav ul li a {
    color: black; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    text-transform:lowercase;
    text-shadow:0 4px 6px black ;
    animation: colorBlink 1s infinite alternate; 
    color: red; 
}

@keyframes colorBlink {
    0% { color: red; }
    20% { color: blue; }
    40% { color: green; }
    60% { color: yellow; }
    80% { color: gray; }
    100% { color: black; }
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.note-button {
    display: inline-block;
    text-align: center;
    margin: 50px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.note-icon {
    width: 150px;
    height: 150px;
    background-image: url('image/note.gif');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.note-label {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.note-label:hover{
    animation: colorBlink 1s infinite alternate; 
    color: red;
    text-shadow:0 4px 6px black ;
}
@keyframes colorBlink {
    0% { color: red; }
    20% { color: blue; }
    40% { color: green; }
    60% { color: yellow; }
    80% { color: gray; }
    100% { color: black; }
}
.note-button:hover {
    transform: scale(1.4);
    opacity: 0.9;
    box-shadow: 0 4px 6px black;
}

